@import '../../../../../styles';

.football {
  display: flex;
  flex-direction: column;
  color: color('white');

  img {
    position: relative;
    height: to-rem(630px);
    object-fit: cover;
  }
}

table {
  position: absolute;
  margin-top: to-rem(42px);
  align-self: center;
  text-align: center;
  border: to-rem(2px) solid white;
  background-color: color('dark-gray');

  th {
    border: to-rem(2px) solid white;
  }

  tr:not(:last-child) {
    border-bottom: to-rem(2px) solid white;
  }

  th,
  td {
    padding: to-rem(7px) to-rem(14px);
    font-size: to-rem(14px);
  }
}

@include media-breakpoint-up(md) {
  table {
    th,
    td {
      padding: to-rem(7px) to-rem(42px);
    }
  }
}
