<div *ngIf="isLoggedIn" class="container football-page">
  <app-football-result-table
    [data]="footballResults"
  ></app-football-result-table>
  <div *ngFor="let item of pageSlice">
    <app-news-card-reader
      class="d-block my-5"
      [item]="item"
      [buttonHide]="true"
    ></app-news-card-reader>
  </div>
  <app-paginator
    [areaLength]="news.length"
    [area]="news"
    [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50]"
    (pageSlice)="onPageChange($event)"
  ></app-paginator>
</div>
<app-not-authorized *ngIf="!isLoggedIn"></app-not-authorized>
