<header>
  <div
    class="container d-flex justify-content-between align-items-center py-3 position-relative"
  >
    <div class="text-center">
      <a
        routerLink="/"
        class="logo text-decoration-none"
        (click)="onCloseSidenav()"
        >NewsApp</a
      >
    </div>
    <button
      class="d-md-none p-2 border-0 position-absolute rounded-circle"
      id="toggle"
      mat-icon-button
      color="primary"
      (click)="onToggleSidenav()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <nav class="d-none d-md-flex">
      <ul class="list-unstyled d-flex align-items-center m-0 p-0 text-center">
        <li *ngFor="let item of navigation">
          <a
            class="p-2 d-block text-decoration-none"
            [routerLink]="item.route"
            >{{ item.name }}</a
          >
        </li>
        <li *ngIf="isLoggedIn">
          <a
            class="p-2 d-block text-decoration-none"
            routerLink="/"
            (click)="logout()"
            >Logout</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
