/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap";

body {
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #0f0f0f;
  color: white;
}
