<article class="subscribe">
  <form
    class="d-flex justify-content-center align-items-center flex-column m-4 p-4 border"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <h2 class="text-center">Subscribe our Newsletter</h2>
    <app-reactive-form-input
      [form]="form"
      name="name"
      label="Name"
      error="Please enter your name!"
    ></app-reactive-form-input
    ><app-reactive-form-input
      [form]="form"
      name="email"
      label="Email"
      error="Please enter a valid email address!"
    ></app-reactive-form-input>
    <app-button
      *ngIf="!showSuccessfullySubscribed"
      label="Subscribe"
    ></app-button>
    <div *ngIf="showSuccessfullySubscribed" class="text-center pb-3">
      Success!
    </div>
  </form>
</article>
