<header>
  <h3><a routerLink="/">A - News</a></h3>
  <nav>
    <ul>
      <li>
        <a href="#">News</a>
      </li>
      <li>
        <a href="#">Sports</a>
      </li>
      <li>
        <a href="#">Handbook</a>
      </li>
      <li>
        <a href="#">Announcements</a>
      </li>
      <li>
        <a href="#">Login</a>
      </li>
      <li>
        <a href="#">Register</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <section>
    <nav>
      <ul>
        <li>
          <a href="#">News</a>
        </li>
        <li>
          <a href="#">Sports</a>
        </li>
        <li>
          <a href="#">Handbook</a>
        </li>
        <li>
          <a href="#">Announcements</a>
        </li>
        <li>
          <a href="#">About Us</a>
        </li>
      </ul>
    </nav>
  </section>
  <p>All Copyright Reserved &copy; Coding with || E.Karadzhov</p>
</footer>
