div {
  padding: 1rem 0;
}

.card {
  display: flex;
  justify-content: center;
  border: 2px solid white;
  margin: 1rem 0.75rem;
}

.card-img-top {
  object-fit: cover;
  max-width: 20rem;
  max-height: 20rem;
}

.card-body {
  max-width: 60%;
  padding: 0 0.75rem;
}

.btn {
  padding: 0.35rem 1rem;
  text-decoration: none;
  color: wheat;
  background-color: red;
}

@media only screen and (max-width: 640px) {
  div {
    padding:0 0 1rem 0;
  }

  .card {
    flex-direction: column;
  }

  .card-img-top, .card-body {
    max-width: 100%;
  }
}
