<div>
  <div class="card">
    <img class="card-img-top" src="https://www.dw.com/image/38131817_303.jpg" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Бойко Хелуинската тиква...</h3>
      <p class="card-text">
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив.
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив
      </p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/b/b0/Tallinn_Digital_Summit_Arrivals_Boyko_Borisov_Cropped.jpg" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Бойко Хелуинската тиква...</h3>
      <p class="card-text">
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив.
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив
      </p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://i.redd.it/5zem8uesagb51.jpg" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Бойко Хелуинската тиква...</h3>
      <p class="card-text">
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив.
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив
      </p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
  </div>
</div>
