<div class="covid-19">
  <img src="https://i.id24.bg/bans/covid19icon.png" alt="" />
  <section>
    <h3>Covid in Bulgaria</h3>
    <table>
      <thead>
        <tr>
          <th>Infected</th>
          <th>Dead</th>
          <th>Healed</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2422</td>
          <td>84</td>
          <td>1589</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section>
    <h3>Covid in Germany</h3>
    <table>
      <thead>
        <tr>
          <th>Infected</th>
          <th>Dead</th>
          <th>Healed</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12077</td>
          <td>1007</td>
          <td>14040</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section>
    <h3>Covid in Italy</h3>
    <table>
      <thead>
        <tr>
          <th>Infected</th>
          <th>Dead</th>
          <th>Healed</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>102002</td>
          <td>25074</td>
          <td>33014</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
<h2>Top 5 News</h2>
<div class="info-news">
  <div class="card">
    <img
      class="card-img-top"
      src="https://www.dw.com/image/38131817_303.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <h3 class="card-title">Бойко Хелуинската тиква...</h3>
      <p class="card-text">
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив.
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив
      </p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
  </div>
  <div class="card">
    <img
      class="card-img-top"
      src="https://www.dw.com/image/38131817_303.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <h3 class="card-title">
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив
      </h3>
      <p class="card-text">
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив
      </p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
  </div>
  <div class="card">
    <img
      class="card-img-top"
      src="https://www.dw.com/image/38131817_303.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <h3 class="card-title">
        Изненадваща инспекция на бъдещото транспортно бижу в центъра на Пловдив
      </h3>
      <p class="card-text">
        Към момента съоръжението е с настилка от чакъл, има място за около 100
        автомобила, а паркирането е напълно безплатно за гражданите. Стаменов
        подчерта добрата новина, че тези автомобили вече не затрудняват
        преминаването по съседните улици, където ежедневно се водят битки за
        паркиране.
      </p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
  </div>
  <div class="card">
    <img
      class="card-img-top"
      src="https://www.dw.com/image/38131817_303.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <h3 class="card-title">Bat boiko bie bez upoika</h3>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
  </div>
  <div class="card">
    <img
      class="card-img-top"
      src="https://www.dw.com/image/38131817_303.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <h3 class="card-title">Bat boiko bie bez upoika</h3>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
  </div>
</div>
