<div class="covid-19">
  <article>
    <img src="https://i.id24.bg/bans/covid19icon.png" alt="">
    <section>
      <h3>Covid in Bulgaria</h3>
      <table>
        <thead>
        <tr>
          <th>Infected</th>
          <th>Dead</th>
          <th>Healed</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>2422</td>
          <td>84</td>
          <td>1589</td>
        </tr>
        </tbody>
      </table>
    </section>
    <section>
      <h3>Covid in Germany</h3>
      <table>
        <thead>
        <tr>
          <th>Infected</th>
          <th>Dead</th>
          <th>Healed</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>12077</td>
          <td>1007</td>
          <td>14040</td>
        </tr>
        </tbody>
      </table>
    </section>
    <section>
      <h3>Covid in Italy</h3>
      <table>
        <thead>
        <tr>
          <th>Infected</th>
          <th>Dead</th>
          <th>Healed</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>102002</td>
          <td>25074</td>
          <td>33014</td>
        </tr>
        </tbody>
      </table>
    </section>
  </article>
</div>
<div class="main-content">
  <h1>Last 3 added News</h1>
  <div class="content">
    <h1>Bat Boiko bie bez upoika</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias autem dicta doloremque ex harum iusto
      nostrum, pariatur reiciendis vitae? Dolores eaque ipsum maiores reprehenderit. Beatae commodi non possimus veniam.
    </p>
  </div>
  <div class="content">
    <h1>Bat Boiko bie bez upoika</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias autem dicta doloremque ex harum iusto
      nostrum, pariatur reiciendis vitae? Dolores eaque ipsum maiores reprehenderit. Beatae commodi non possimus veniam.
    </p>
  </div>
  <div class="content">
    <h1>Bat Boiko bie bez upoika</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias autem dicta doloremque ex harum iusto
      nostrum, pariatur reiciendis vitae? Dolores eaque ipsum maiores reprehenderit. Beatae commodi non possimus veniam.
    </p>
  </div>
</div>
