@import '../../../../../styles';

.artist {
  img {
    object-fit: cover;
  }
}

.artist-content {
  margin-left: to-rem(-28px);
  width: 50%;
  background-color: color('dark-gray');
  color: color('white');

  h5 {
    font-size: to-rem(16px);
  }
}

@include media-breakpoint-up(md) {
  .artist-content {
    margin-left: to-rem(-56px);
    width: 30%;
  }
}
