<div>
  <form action="">
    <label for="fullName">Full name</label>
    <input type="text" id="fullName" placeholder="Max Dreads">
    <label for="email">Email</label>
    <input type="text" id="email" placeholder="example@example.com">
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="Password">
    <label for="repeatPassword">Repeat Password</label>
    <input type="password" id="repeatPassword" placeholder="Repeat password">
    <input type="submit" value="Register">
  </form>
</div>
