<header>
  <h3><a routerLink="/">NewsApp</a></h3>
  <nav>
    <ul>
      <li>
        <a routerLink="/news">News</a>
      </li>
      <li>
        <a routerLink="/sports">Sports</a>
      </li>
      <li>
        <a routerLink="/handbook">Handbook</a>
      </li>
      <li>
        <a routerLink="/announcements">Announcements</a>
      </li>
      <li>
        <a routerLink="/login">Login</a>
      </li>
      <li>
        <a routerLink="/register">Register</a>
      </li>
    </ul>
  </nav>
</header>
