<div class="container d-flex justify-content-center">
  <form
    [formGroup]="form"
    (ngSubmit)="submitRegisterData()"
    class="form d-flex flex-column"
  >
    <app-reactive-form-input
      [form]="form"
      name="fullName"
      label="Full name"
      type="text"
      error="Please enter your full name!"
    ></app-reactive-form-input>
    <app-reactive-form-input
      [form]="form"
      name="email"
      label="Email"
      type="email"
      error="Please enter your email!"
    ></app-reactive-form-input>
    <app-reactive-form-input
      [form]="form"
      name="password"
      label="Password"
      type="password"
      error="Please enter your password!"
    ></app-reactive-form-input>
    <app-reactive-form-input
      [form]="form"
      name="repeatPassword"
      label="Repeat Password"
      type="password"
      error="Please enter your repeat password!"
    ></app-reactive-form-input>
    <app-button label="Register"></app-button>
  </form>
</div>
