<div *ngIf="!isLoggedIn" class="container d-flex justify-content-center">
  <form
    [formGroup]="form"
    (ngSubmit)="submitLoginData()"
    class="form d-flex flex-column"
  >
    <app-reactive-form-input
      [form]="form"
      name="login"
      label="Email"
      type="email"
      error="Please enter your email!"
    ></app-reactive-form-input>
    <app-reactive-form-input
      [form]="form"
      name="password"
      label="Password"
      type="password"
      error="Please enter your password!"
    ></app-reactive-form-input>
    <app-button label="Login"></app-button>
  </form>
</div>
