@import '../../../../styles';

div {
  //display: flex;
  //justify-content: center;
  padding-top: 10rem;

  form {
    border: 2px solid color('dark-gray');
    background: color('form');

    input:not(:last-child) {
      width: 22rem;
      padding: 0.5rem;
      border: none;
      outline: none;
      border-radius: 5px;
    }

    input:last-child {
      margin: 1.25rem auto;
      padding: 0.75rem;
      width: 10rem;
      color: color('black');
      font-size: 16px;
      background-color: color('red');
      border: none;
      outline: none;
      border-radius: 5px;
    }

    input:last-child:hover {
      background: color('button');
      transition: background-color 0.1ms, color 0.1ms;
      cursor: pointer;
      color: color('white');
    }
  }
}

@media (max-width: 480px) {
  div {
    form {
      input:not(:last-child) {
        width: 14rem;
      }
    }
  }
}
