<footer>
  <section>
    <article class="work-time">
      <h2>Our work time</h2>
      <table>
        <thead>
        <tr>
          <th>Week day</th>
          <th>Open / Close</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Monday</td>
          <td>09.00 - 20.00</td>
        </tr>
        <tr>
          <td>Tuesday</td>
          <td>09.00 - 20.00</td>
        </tr>
        <tr>
          <td>Wednesday</td>
          <td>09.00 - 20.00</td>
        </tr>
        <tr>
          <td>Thursday</td>
          <td>09.00 - 20.00</td>
        </tr>
        <tr>
          <td>Friday</td>
          <td>09.00 - 20.00</td>
        </tr>
        <tr>
          <td>Saturday</td>
          <td>09.00 - 20.00</td>
        </tr>
        <tr>
          <td>Sunday</td>
          <td>09.00 - 20.00</td>
        </tr>
        </tbody>
      </table>
    </article>
    <article class="subscribe">
      <form action="">
        <h2>Subscribe our Newsletter</h2>
        <label for="fullname">Full name</label>
        <input type="text" id="fullname">
        <label for="email">Email</label>
        <input type="text" id="email">
        <input type="button" value="Subscribe">
      </form>
    </article>
  </section>
  <p>All Copyright Reserved &copy; Coding with &hearts; E.Karadzhov</p>
</footer>
