footer {
  margin-top: 1rem;

  h2 {
    text-align: center;
  }

  section {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;

    .work-time {
      border: 2px solid white;
      padding: 1rem 1.5rem;
      margin: 1rem;

      tr {
        border-bottom: 2px solid white;
      }

      th {
        font-size: 18px;
      }

      th:not(:last-child), td:not(:last-child) {
        padding-right: 3rem;
      }

      th, td {
        padding-top: 0.5rem;
      }
    }

    .subscribe {
      margin: 1rem;

      form {
        display: flex;
        flex-direction: column;
        border: 2px solid white;
        padding: 1rem 1.5rem;

        label {
          padding: 0.75rem 0 0.5rem 0;
        }

        input:not(:last-child) {
          width: 22rem;
          padding: 0.5rem;
          border-radius: 5px;
        }

        input:last-child {
          margin: 1.25rem auto;
          width: 10rem;
          color: white;
          font-size: 16px;
          background-color: red;
          border: none;
          border-radius: 5px;
          padding: 0.75rem;
        }

        input:last-child:hover {
          background-color: greenyellow;
          transition: background-color 0.2s, color 0.2s;
          cursor: pointer;
          color: #0f0f0f;
        }
      }
    }
  }

  p {
    padding-top: 2rem;
    text-align: center;
  }
}


@media (max-width: 786px) {
  footer {
    section {
      flex-wrap: wrap-reverse;

      .work-time {
        table {
          width: 15.5rem;
        }
      }

      .subscribe {
        form {
          max-width: 19rem;

          input:not(:last-child) {
            width: 15.5rem;
          }
        }
      }
    }
  }
}
