h2 {
  text-align: center;
  padding-top: 2rem;
}

.football-result {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  color: white;
  font-size: 20px;

  img {
    position: relative;
    height: 30rem;
    object-fit: cover;
  }

  table {
    position: absolute;
    align-self: center;
    text-align: center;
    border: 2px solid white;
    background-color: rgb(26, 25, 24);

    th {
      border: 2px solid white;
    }

    tr:not(:last-child) {
      border-bottom: 2px solid white;
    }

    th, td {
      padding: 0.5rem 3rem;
    }
  }
}

.football-news {
  padding: 5rem 0;

  .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid white;
    margin: 1rem 0.75rem;
    background-color: rgb(26, 25, 24);

    .card-img-top {
      object-fit: cover;
      max-width: 20rem;
      max-height: 20rem;
    }

    .card-body {
      max-width: 60%;

      .btn {
        padding: 0.35rem 1rem;
        text-decoration: none;
        color: wheat;
        background-color: red;
        border: none;
      }
    }
  }
}

@media (max-width: 786px) {
  .football-result {
    table {
      th, td {
        padding: 0.5rem 1rem;
      }
    }
  }
}

@media (max-width: 670px) {
  .football-news {
    padding: 0 0 1rem 0;

    .card {
      flex-direction: column;

      .card-img-top, .card-body {
        max-width: 100%;
      }
    }
  }
}
