<h2>Last 5 Football Games</h2>
<div class="football-result">
  <img src="./assets/FIFA-2018-World-Cup-Featured.jpg" alt="">
  <table>
    <thead>
    <tr>
      <th>Host</th>
      <th>Result</th>
      <th>Guest</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Germany</td>
      <td>5 : 0</td>
      <td>Italy</td>
    </tr>
    <tr>
      <td>Italy</td>
      <td>3 : 1</td>
      <td>Turkey</td>
    </tr>
    <tr>
      <td>Germany</td>
      <td>3 : 2</td>
      <td>Turkey</td>
    </tr>
    <tr>
      <td>Turkey</td>
      <td>0 : 2</td>
      <td>Bulgaria</td>
    </tr>
    <tr>
      <td>Germany</td>
      <td>2 : 2</td>
      <td>Bulgaria</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="football-news">
  <div class="card">
    <img class="card-img-top" src="https://i.ytimg.com/vi/p693u53Q10U/maxresdefault.jpg" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Леонел Месси се кълне в топката...</h3>
      <p class="card-text">
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив.
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив
      </p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://i.guim.co.uk/img/media/d4600ad05cac97c97d826ae7e9ac1e0366e5eafe/0_77_4000_2400/master/4000.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=d2cf7079244424df821995232044d17b" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Леонел Месси отбелязва гол...</h3>
      <p class="card-text">
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив.
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив
        Свалят пътниците, ако не са с предпазни средства в автобусите в Пловдив
      </p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
  </div>
</div>
