<div class="container news-page">
  <h2 class="text-uppercase py-3">Un<span>censored</span> NewsApp</h2>
  <!--  <div *ngFor="let news of allNews" class="card">-->
  <!--    <img class="card-img-top" src="{{news.imageUrl}}" alt="Card image cap">-->
  <!--    <div class="card-body">-->
  <!--      <h3 class="card-title">{{news.title}}</h3>-->
  <!--      <p class="card-text">{{news.content}}</p>-->
  <!--      <a href="#" class="card-button">Read more</a>-->
  <!--    </div>-->
  <!--  </div>-->
  <app-card [data]="allNews"></app-card>
</div>
