<h2 class="text-center py-5">Our work time</h2>
<article class="container work-time d-flex flex-column align-items-center">
  <table>
    <thead>
      <tr>
        <th>Week day</th>
        <th>Open / Close</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Monday</td>
        <td>09.00 - 20.00</td>
      </tr>
      <tr>
        <td>Tuesday</td>
        <td>09.00 - 20.00</td>
      </tr>
      <tr>
        <td>Wednesday</td>
        <td>09.00 - 20.00</td>
      </tr>
      <tr>
        <td>Thursday</td>
        <td>09.00 - 20.00</td>
      </tr>
      <tr>
        <td>Friday</td>
        <td>09.00 - 20.00</td>
      </tr>
      <tr>
        <td>Saturday</td>
        <td>09.00 - 20.00</td>
      </tr>
      <tr>
        <td>Sunday</td>
        <td>09.00 - 20.00</td>
      </tr>
    </tbody>
  </table>
</article>
