<h2 class="text-center py-5">Contacts</h2>
<div class="container contacts-container">
  <section class="d-flex align-items-center py-2">
    <div class="icon d-flex justify-content-center align-items-center">
      <i class="far fa-user"></i>
    </div>
    <p>Enes Karadzhov</p>
  </section>
  <section class="d-flex align-items-center py-2">
    <div class="icon d-flex justify-content-center align-items-center">
      <i class="fas fa-at"></i>
    </div>
    <p>enes.karadzhov@gmail.com</p>
  </section>
  <section class="d-flex align-items-center py-2">
    <div class="icon d-flex justify-content-center align-items-center">
      <i class="fab fa-facebook"></i>
    </div>
    <p>Enes Karadzhov</p>
  </section>
  <section class="d-flex align-items-center py-2">
    <div class="icon d-flex justify-content-center align-items-center">
      <i class="fas fa-mobile-alt"></i>
    </div>
    <p>+359 8777 77777</p>
  </section>
</div>
