<div class="bg-img">
  <div class="container">
    <h1 class="text-uppercase">
      Un<span class="font-weight-bold">censored</span> news only here
    </h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi aut
      blanditiis consequatur, dicta dignissimos et explicabo iure natus numquam,
      odio provident recusandae reiciendis rem rerum soluta ut voluptates
      voluptatibus.
    </p>
    <div>
      <app-button label="Read more"></app-button>
    </div>
  </div>
</div>
