@import '../../../../../styles';

.bg-img {
  background-image: url('../../../../../assets/images/news-backround.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: to-rem(660px);
}

.container {
  padding-top: to-rem(300px);

  @include media-breakpoint-up(md) {
    padding-top: to-rem(380px);
  }

  @include media-breakpoint-up(lg) {
    padding-top: to-rem(480px);
  }
}

h1 {
  color: color('white');
}

span {
  color: color('red');
}

p {
  color: color('white');
}

.read-btn {
  border: none;
  outline: none;
}
