<div class="container pt-5 text-center">
  <h2 class="pt-5">Why us?</h2>
</div>
<div class="info-travel container d-flex py-5">
  <section class="w-100 text-center p-3">
    <article class="icon-travel">
      <i class="fas fa-graduation-cap"></i>
    </article>
    <article class="content-travel">
      <p>
        Learn more about the history of certain landmarks.You can enrich your
        historical culture!
      </p>
    </article>
  </section>
  <section class="w-100 text-center p-3">
    <article class="icon-travel">
      <i class="fas fa-bicycle"></i>
    </article>
    <article class="content-travel">
      <p>
        Do you like to ride bikes? We offer you a bike tour that is good for
        your health and you will see new sights!
      </p>
    </article>
  </section>
  <section class="w-100 text-center p-3">
    <article class="icon-travel">
      <i class="fas fa-plane-departure"></i>
    </article>
    <article class="content-travel">
      <p>
        If you are coming from abroad, we offer transportation from and to the
        airport, with accommodation in a 3 or 4 stars hotel of your choice!
      </p>
    </article>
  </section>
  <section class="w-100 text-center p-3">
    <article class="icon-travel">
      <i class="fas fa-motorcycle"></i>
    </article>
    <article class="content-travel">
      <p>
        COMING SOON! Very soon we will offer you a tour with motorcycles.
        Wondering why? Because we believe that this is a sport that brings
        people together and gives them new strength after their vacation!
      </p>
    </article>
  </section>
</div>
